
.eventBusinessMain{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.eventBusinessBackIcon,.eventBusinessForIcon{
    cursor: pointer;
}
.eventBusinessBtnGroup{
    margin-bottom: 120px;
}
.eventsBtn{
    margin-right: 10px;
    width:13%;
    height: 45px;
    border-radius: 5px;
    margin-top: 10px;
    /* float: right; */
    display: inline-block;
    cursor: pointer;
    background-color: #3EB2E2;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    text-align: center;
    position: absolute;
    color: white;
    right: 700px;
    overflow: hidden;
    transition: all 2s;
    font-weight: 0;
}

.businessBtn{
    font-weight: 0;
    margin-right: 10px;
    display: inline-block;
    height: 45px;
    width:18%;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    /* float: right; */
    color: black;
    /* box-shadow: 0px 1px 0px 0.5px rgb(136, 135, 135); */
    /* background-color: #4DC4F1; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    transition: all 2s;

}

.subEventBtn{
    height: 100%;
    width: 100%;
    display: inline-block;
    /* position: relative; */
    border-radius: 5px;
    background-color: #3EB2E2;
    padding-top: 10px;
    color: #fff;
    /* position: relative; */
    /* transform: translateX(400px); */
    /* left: 100px; */
    transition: all 2s;
    padding-bottom: 10px;
}

.subEventBtn1{
    background-color: white;
    position: relative;
    bottom: 60px;
    color: black;
    left: 400px;
    transition: all 2s;
}


.subBusinessBtn{
    height: 100%;
    width: 100%;
    display: inline-block;
    /* position: relative; */
    border-radius: 5px;
    padding-top: 10px;
    background-color: white;
    color: black;
    /* position: relative; */
    /* transform: translateX(400px); */
    /* left: 100px; */
    transition: all 2s;
    padding-bottom: 10px;
}

.subBusinessBtn1{
    position: relative;
    background-color: #3EB2E2;
    color: #fff;
    bottom: 60px;
    left: 400px;
    transition: all 2s;
}

.subBusinessBtn{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* background-color: green; */
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 2s;
}

/* toggle  */

.subEventBtnToggle{
    background-color: #3EB2E2;
    color: white;
    /* position: relative; */
    /* bottom: 41px; */
    /* right: 100px; */
    transform: translateX(-300px);
    transition: all 2s !important;
}

.subEventBtn2Toggle{
    background-color: white;
    color: black;
    position: relative;
    transition: all 2s;
    left: 0px;
    right: 0px;
    top: -65px;
    padding-top: 10px;
}


.subBusinessBtnToggle{
    /* position: relative; */
    /* bottom: 41px; */
    /* right: 100px; */
    transform: translateX(-300px);
    background-color: white;
    color: black;
    transition: all 2s !important;
}

.subBusinessBtn2Toggle{
    color: white;
    background-color: #3EB2E2;
    position: relative;
    transition: all 2s;
    left: 0px;
    padding-top: 10px;
    right: 0px;
    top: -65px;
}


.shadow{
    box-shadow: 0px 1px 2px 0.5px rgb(231, 231, 231);

}

@media only screen and (max-width:2000px){
    .eventsBtn{
    right:600px
    }
    }
    
@media only screen and (max-width:1800px){
    .eventsBtn{
    right:520px
    }
    }

    @media only screen and (max-width:1500px){
        .eventsBtn{
        right:400px
        }
        }
    

    @media only screen and (max-width:1199px){
        .eventsBtn{
        right:300px
        }
        }
    

@media only screen and (max-width:1030px){

    .eventsBtn{
    right:230px;
    margin-top: 12px;
    }

}


@media only screen and (max-width:770px){
    .eventsBtn{
    right:260px;
    width: 170px;
    margin-top: 11px;
    }
    .businessBtn{
    width: 170px;

    }
}

@media only screen and (max-width:535px){
    .eventsBtn{
        width: 27%;
        right:200px;
        margin-top: 11px;
    }
    .businessBtn{
        width: 27%;

    }


}

@media only screen and (max-width:430px){
    .eventsBtn{
        width: 30%;
        right:170px;
        margin-top: 11px;
    }
    .businessBtn{
        width: 40%;
    }
    .evenBusiCrdMain{
        padding-left: 4%;
    }
}


@media only screen and (max-width:380px){
    .eventsBtn{
        right:170px;
        margin-top: 13px;

    }
    .evenBusiCrdMain{
        padding-left: 4%;
    }
}


@media only screen and (max-width:330px){
    .eventsBtn{
        right:150px;
        margin-top: 13px;
    }
    .evenBusiCrdMain{
        padding-left: 2%;
    }
}