.header_search{
    background-image: url('./../../Assets/searchiconbar1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150% 200%;
    width:60%;
    float: right;
    /* height: 40px; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 5px;
    border-radius: 5px !important;
    align-items: center;

}
.headerSearchInput:placeholder-shown{
color: red;
font-size: 17px !important;
/* font-weight: 600; */
}

.searchIconImg{
position: relative;
left:-10px
}

.headerAvatarDiv{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-left: 150px;
}
.headerAvatarDiv1{
    height: 50px;
    width: 50px;
    text-align: right;
    position: relative;
    top: 10px;
    cursor: pointer;
    /* margin-left: 150px; */
}
.modal_header_search{
    background-image: url('./../../Assets/search icon bar.svg');
    width:100%;
    text-align: left;
    border-radius:5px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* margin-top: 5px; */

}

.header_main{
    /* height:100px; */
    /* background-color: black; */
    box-shadow: 0px 0.1px 4px 0.3px rgb(138, 138, 138);
    display: flex;
    background-color: #fdfdfd;
    justify-content: center;
    /* margin-bottom: 2px; */
    height: 150px;
}
.header_icon{
    /* margin-top:20px; */
    cursor: pointer;
    margin-left:-30px;

}

.subscription_div{
    /* margin-top: 20px; */
}
.subscribe_txt{
    margin-top: -5px;
    /* margin-left: 25px; */
    /* margin-top: 20px; */
    cursor: pointer;
    /* float: left; */
    font-weight: 600;
}
.header_sub_icon{
    /* margin-top: 40px; */
    cursor: pointer;
    margin-left: 12px;
}
.first_header_sub_icon{
    margin-left: 0px;
}
.header_icon_last_two{
    background-image: url('./../../Assets/login.png');
    width:130px;
    /* align-self:flex-end; */
    cursor: pointer;
    display: inline-block !important;
    /* float: right; */
    text-align: center;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    font-weight: 500;
    font-size: 14px;
    margin-left: 20px;
    /* position: relative; */
    /* top: -15px; */
    padding-top: 10px;
}
.header_icon_last{
    cursor: pointer;
    background-image : url('./../../Assets/signup.png'); 
    width:130px;
    /* align-self:flex-end; */
    /* float: right; */
    display: inline-block !important;
    text-align: center;
    /* margin-top: -15px; */
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    /* font-weight: bold; */
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* position: relative; */
    /* top: -15px; */
    padding-top: 10px;
}

.headerSearchInput:focus{
    outline: none;
}
.headerSearchInput::placeholder{
    color:#CDC5E1 !important;
}


.headerSubIcon2{
    position: relative;
    top: -13px;
}

.header_icon_last_two span{
    margin-bottom: -20px !important;
}

@media only screen and (max-width:1925px){
    .subscription_div{
        margin-left: -10px;
    }
    
}

@media only screen and (max-width:1800px){
    .header_search{
        width: 70%;
        margin-right: 20px;
    }
}

@media only screen and (max-width:1736px){

/* .header_icon{
    width:280px;
} */
.header_search{
    /* float: left; */
    margin-right: 50px;
    /* margin-left: -50px; */
   
}
.subscription_div{
    margin-left: -50px;
}

}

@media only screen and (max-width:1720px){
    .header_search{
        width: 70%;
        margin-left: 15%;
        padding-right: 3%;
    }
    
}

@media only screen and (max-width:1650px){

    .header_icon{
        margin-left: -10px;
    }
}

@media only screen and (max-width:1550px){
.header_search{
    width: 60%;
    margin-right: 110px;
    /* margin-left: 10%; */
    /* padding-right: 5%; */
}
.subscription_div{
    margin-left: -100px;
}
.header_icon{
    margin-left: 0px;
}
}


@media only screen and (max-width:1532px){

    .header_search{
        width: 70%;
    }
    }
    

    @media only screen and (max-width:1440px){
        .header_icon{
            width:150px;
            height: 60px;
        }
        .subscription_div{
            margin-left: 0px !important;
        }
        .header_search{
            margin-right: 0px !important;
        }
        .header_search{
            border-radius: 4px !important;
            width: 75%;
            padding-top: 0px;
            background-size: 120% 100%;
        }
        .headerSearchInput:placeholder-shown{
            color: red;
            font-size: 14px !important;
            font-weight: 500;
            }
            .header_main{
                height: 100px;
            }
            .header_sub_icon{
                height: 20px;
                width: 20px;
            }
        .searchIconImg{
            height: 15px;
        }
        .searchIconImg{
            left: 0px;
        }
        .subscribe_txt{
            font-size: 14px !important;
        }
        .header_icon_last{
            padding-top: 4px;
            height: 29px;
            font-size: 12px;
            width: 100px !important;
        }
        .header_icon_last_two{
            padding-top: 4px;
            height: 29px;
            font-size: 12px;
            width: 100px !important;
        }
        .header_icon_last_two span,.header_icon_last span{
            top:-0.5px !important;
        }
        .header_icon_last_two,.header_icon_last{
            margin-bottom:2px !important;
        }
    }

/* @media only screen and (max-width:1241px){
} */

@media only screen and (max-width:1300px){
.header_sub_icon{
margin-left:6px;
}
.header_icon_last,.header_icon_last_two{
    width: 110px;
}
}

@media only screen and (max-width:1200px){
.header_icon{
    width: 170px;
    height: 70px;
}
.header_search{
    width: 70%;
    margin-right: 60px !important;
}
.subscription_div{
    margin-left: -60px !important;
}
}

@media only screen and (max-width:1090px){
    .header_search{
        width: 70%;
        margin-right: 90px !important;
    }
    .subscription_div{
        margin-left: -90px !important;
    }
    
}

@media only screen and (max-width:1030px){

    .header_icon{
        height: 60px;
        width: 120px;
    }
    .header_search{
        width: 70%;
        border-radius: 5px !important;
        margin-top: -3px;
        margin-right: 0px;
    }
    .searchIconImg{
        height: 13px;
    }
    .subscription_div{
        margin-left: 0px;
    }
    
    
}


@media only screen and (max-width:990px){
.header_icon_last,.header_icon_last_two{
    width: 80px !important;
}
.subscribe_txt{
    font-size: 13px !important;
}
}
@media only screen and (max-width:899px){
    .subscribe_txt{
        margin-left:0px !important;
    }
    .header_icon{
        height: 50px;
    }
    .subscribe_txt{
        font-size: 13px !important;
    }
    .header_icon_last,.header_icon_last_two{
        width: 80px;
        font-size: 10px;
        margin-bottom:4px !important;
        height: 30px;
    }
    .header_icon_last_two span,.header_icon_last span{
        top:1.6px !important;
    }
    
}


@media only screen and (max-width:830px){

.header_icon_last_two{
    margin-left:3px;
}
}


@media only screen and (max-width:790px){

.header_icon_last_two,.header_icon_last{
    width: 70px !important;
}

}
@media only screen and (max-width:768px){

    .header_search{
        border-radius: 5px !important;
    }
    
    }

@media only screen and (max-width:740px){

    .header_icon_last_two,.header_icon_last{
        width: 60px !important;
    }
    }
    

@media only screen and (max-width:700px){
.header_search{
    width:70%;
    margin-right: 5px;
}
.header_icon_last,.header_icon_last_two{
    width: 60px;
    height: 28px;
    /* padding-top: 2px; */
    margin-bottom: 7px;
}
.header_icon{
    width: 90px;
    margin-left: -30px;
    height: 40px;
}
.searchIconImg{
    height: 10px;
}
}

@media only screen and (max-width:630px){

    .header_icon_last_two,.header_icon_last{
        width: 55px;
        font-size:10px;
        /* height: 30px; */
    }
    .subscribe_txt{
        font-size: 11px !important;
    }
    }

@media only screen and (max-width:605px){
.header_search{
    margin-right: 95px !important;
    width: 68% !important;
}
.subscription_div{
    margin-left: -95px !important;
}
}

@media only screen and (max-width:600px){
    .header_icon{
        height: 50px;
        float:left;
        margin-left: 0px;
        /* margin-top: 13px !important; */
        /* text-align: ; */
        width: 140px;
    }
 .header_search{
     margin-top: 25px;
 }

 .header_sub_icon{
     margin-top: 7px !important;
 }
.header_main{
    height: 80px;
}
}


@media only screen and (max-width:380px){
 .header_search{
     margin-top: 25px;
 }

 .header_sub_icon{
    margin-left: 7px !important;
}


.first_header_sub_icon{
    margin-left: 0px !important;
}

.subscribe_txt{
margin-left: 2px !important;
}

}



@media only screen and (max-width:330px){
 .header_search{
     margin-top: 30px;
 }

.headerModal{
    width:70% !important;
}

.header_icon_last_two{
    width: 70px;
}
.header_icon_last{
    width: 70px;
}

.headerModal{
    width: 90% !important;
}

}